<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <link rel="stylesheet" type="text/css" href="stylesheet.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" >
</head>
<body>
<div class="jumbotron text-center">
	<h1><small>Bootstrap</small>Start<span class="badge badge-secondary badge-pill">New</span></h1>
</div>
	<div class="container my-3 text-dark">
		<div class="row">
			<div class="col-sm-4 text-center">
				<h3>Column 1</h3>
				<p>Content of column 1</p>
				<img src="mp.jpg" class="img-fluid img-thumbnail">
				<button class="btn btn-secondary m-2">Click here <span class="badge badge-light">4</span></button>
				<button class="btn btn-primary">Dont click here  <div class="spinner-grow"></div></button>
				<div class="btn-group btn-block">
				  <button type="button" class="btn btn-primary">Apple</button>
				  <button type="button" class="btn btn-primary">Samsung</button>
				  <button type="button" class="btn btn-primary">Sony</button>
					<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"></button>>
					<div class="dropdown-menu">
					<a href="#" class="dropdown-item">boot</a>
					<a href="#" class="dropdown-item">strap</a>
					</div>
				</div>
				<p>I <abbr title="Dangerous Feeling">love</abbr> bootstrap</p>
			</div>
			<div class="col-sm-4">
				<h3>Column 2</h3>
				<p>Content of column 2</p>
				<p>I love bootstrap</p>
				<br>
				<br>
				<table class="table table-hover">
					<thead class="thead-dark">
						<tr>
							<td>First Name</td>
							<td>Middle Name</td>
							<td>Last Name</td>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Vinayak</td>
							<td>Rajendra</td>
							<td>Patil</td>
						</tr>
						<tr>
							<td>Gayatri</td>
							<td>Rajendra</td>
							<td>Patil</td>
						</tr>
						<tr>
							<td>Shailaja</td>
							<td>Rajendra</td>
							<td>Patil</td>
						</tr>
						<tr>
							<td>Shailaja</td>
							<td>Rajendra</td>
							<td>Patil</td>
						</tr>
					</tbody>

				</table>
				

			</div>
			<div class="col-sm-4">
				<h3>Column 3</h3>
				<p>Content of column 3</p>
				<p>I love bootstrap</p>
				<div class="progress">
					<div class="progress-bar bg-success" style="width:80%">Successfull</div>
					<div class="progress-bar bg-danger" style="width: 20%">remaining</div>
				</div>
				<br>
				<button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#demo">collapsable</button>
				<div id='demo' class="collapse">
					what to collapse when its already collapsed.
				</div>
			</div>

	</div>
	<div class="card" style="width: 400px">
		<div class="card-body">
			<img src="mp.jpg" class="card-img-top" alt="card image">
			<div class="card-img-overlay">
			<h4 class="card-title">title</h4>
			<p class="card-text">here are the card details</p>
			</div>
			<a href="#" class="card-link">Link</a>
			<a href="#" class="card-link">Link</a>
			<a href="#" class="btn btn-primary stretched-link"></a>
		</div>
	</div>

	<div class="pagination justify-content-center">
					<div class="page-item disabled"><a class="page-link" href="#">Previous</a></div>
					<div class="page-item"><a class="page-link" href="#">1</a></div>
					<div class="page-item"><a class="page-link" href="#">2</a></div>
					<div class="page-item"><a class="page-link" href="#">3</a></div>
					<div class="page-item"><a class="page-link" href="#">4</a></div>
					<div class="page-item active"><a class="page-link" href="#">Next</a></div>
				</div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>